body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
    color: #fff;
    font-family: "Lora", serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

h2 {
    margin: 0.8rem 0;
    font-size: 1.2rem;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgb(155 155 155 / 75%) 0px 5px 15px;
    min-height: 100vh;
    max-width: 50rem;
    padding: 1rem 2rem;
    background-color: #ddd;
    color: #1d1d1d;
}

.App::before {
    position: absolute;
    content: "";
    width: 10rem;
    height: 7rem;
    background: url("../public/images/blue-blob.png");
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

.App::after {
    position: absolute;
    content: "";
    width: 9rem;
    height: 9rem;
    background: url("../public/images/yellow-blob.png");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
}

.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #97677c;
    color: #fff;
	cursor: pointer;
}

.quiz {
    z-index: 1;
}

.quiz-buttons {
    padding-top: 1.5rem;
}

.answer {
    margin: 0 0.3rem 0.3rem;
    padding: 0.5rem 0.8rem;
    background-color: transparent;
    color: #293264;
    border: 1px solid #293264;
    font-size: 0.9rem;
    border-radius: 0.8rem;
	min-width: 100%;
}

@media (min-width: 769px) {
    body {
        padding-top: 3rem;
    }
    .App {
        min-height: 30rem;
    }
    h2 {
        font-size: 1.5rem;
        margin: .7rem 0;
    }
    .answer {
        font-size: 1rem;
        margin: 0 0.3rem 0.5rem;
        padding: 0.5rem 0.8rem;
		min-width: 0;
    }
}
