body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Lora', serif;
  text-align: center;
  padding-top: 5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgb(155 155 155 / 75%) 0px 5px 15px;
  min-height: 30rem;
  max-width: 40rem;
  padding: 1rem 2rem;
  background-color: #ddd;
  color: #1d1d1d;
}

.App::before {
  position: absolute;
  content: "";
  width: 10rem;
  height: 7rem;
  background: url('../public/images/blue-blob.png');
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
}

.App::after {
  position: absolute;
  content: "";
  width: 9rem;
  height: 9rem;
  background: url('../public/images/yellow-blob.png');
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #97677c;
  color: #fff;
}

.quiz {
  z-index: 1;
}